<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="EncounterCreateDlg" widgetVar="EncounterCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundleEnI.CreateEncounterTitle}">
            <h:form id="EncounterCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{encounterController.selected != null}">
                        <p:outputLabel value="#{bundleEnI.CreateEncounterLabel_id}" for="id" />
                        <p:inputText id="id" value="#{encounterController.selected.id}" title="#{bundleEnI.CreateEncounterTitle_id}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{encounterController.create}" value="#{bundleEnI.Save}" update="display,:EncounterListForm:datalist,:growl" oncomplete="handleSubmit(args,'EncounterCreateDialog');"/>
                    <p:commandButton value="#{bundleEnI.Cancel}" onclick="EncounterCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
