<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="EncounterViewDlg" widgetVar="EncounterViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundleEnI.ViewEncounterTitle}">
            <h:form id="EncounterViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{encounterController.selected != null}">
                        <h:outputText value="#{bundleEnI.ViewEncounterLabel_id}"/>
                        <h:outputText value="#{encounterController.selected.id}" title="#{bundleEnI.ViewEncounterTitle_id}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundleEnI.Close}" onclick="EncounterViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
