.ui-datatable .ui-column-filter {
    width: 98%!important;
    box-sizing: border-box;
}

.ui-widget {
    font-size: 12px !important;
}
.ui-layout-north {
    z-index: 20 !important;
    overflow: visible !important;;
}
.ui-layout-north .ui-layout-unit-content {
    overflow: visible !important;
}
.ui-widget-header {
    text-align: center;
    text-transform: uppercase;
}
.ui-button {
    margin-top: 10px !important;
}

.appbg {
    width: 100%;
    height: 100%;
    padding: 0%;
    margin: 0%;
    background-color: rgb(0,5,11);
    background-image: url("#{resource['images/bg1.jpg']}");
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.loginBox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.alignTop td {
    vertical-align: top;
}