<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundleIns.ListInstituteTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="InstituteListForm">
                <p:panel header="#{bundleIns.ListInstituteTitle}">
                    <p:dataTable id="datalist" value="#{instituteController.items}" var="item"
                                 selectionMode="single" selection="#{instituteController.selected}"
                                 paginator="true"
                                 rowKey="#{item.id}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundleIns.ListInstituteTitle_name}"/>
                            </f:facet>
                            <h:outputText value="#{item.name}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Code"/>
                            </f:facet>
                            <h:outputText value="#{item.code}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundleIns.ListInstituteTitle_parentInstitute}"/>
                            </f:facet>
                            <h:outputText value="#{item.parentInstitute.name}"/>
                        </p:column>

                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundleIns.Create}" actionListener="#{instituteController.prepareCreate}" update=":InstituteCreateForm" oncomplete="PF('InstituteCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundleIns.View}" update=":InstituteViewForm" oncomplete="PF('InstituteViewDialog').show()" disabled="#{empty instituteController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundleIns.Edit}" update=":InstituteEditForm" oncomplete="PF('InstituteEditDialog').show()" disabled="#{empty instituteController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundleIns.Delete}" actionListener="#{instituteController.destroy}" update=":growl,datalist" disabled="#{empty instituteController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
