<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="InstituteViewDlg" widgetVar="InstituteViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundleIns.ViewInstituteTitle}">
            <h:form id="InstituteViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{instituteController.selected != null}">
                        <h:outputText value="#{bundleIns.ViewInstituteLabel_name}"/>
                        <h:outputText value="#{instituteController.selected.name}" title="#{bundleIns.ViewInstituteTitle_name}"/>
                        <p:outputLabel value="Code" for="code" />
                        <h:outputText id="code" value="#{instituteController.selected.code}" title="Code" />

                        <h:outputText value="#{bundleIns.ViewInstituteLabel_parentInstitute}"/>
                        <h:outputText value="#{instituteController.selected.parentInstitute}" title="#{bundleIns.ViewInstituteTitle_parentInstitute}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundleIns.Close}" onclick="InstituteViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
