<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <body>

        <ui:composition template="./index.xhtml">

            <ui:define name="userimage">
                <p:graphicImage library="image" name="user_add.png" styleClass="sideImage" ></p:graphicImage>
            </ui:define>

            <ui:define name="manageusers">
                <p:panel header="Change Password - #{webUserController.selected.name}" >
                    <h:form id="WebUserCreateForm">
                        <h:panelGroup id="display">
                            <p:panelGrid columns="2" rendered="#{webUserController.selected != null}">
                                <p:outputLabel value="#{bundle.CreateWebUserLabel_userName}" for="userName" />
                                <p:inputText disabled="true" id="userName" value="#{webUserController.selected.userName}" title="#{bundle.CreateWebUserTitle_userName}" />

                                <p:outputLabel value="#{bundle.CreateWebUserLabel_password}" for="password" />
                                <p:password id="password" value="#{webUserController.selected.password}" title="#{bundle.CreateWebUserTitle_password}" />

                                <p:outputLabel value="#{bundle.PasswordAgain}" for="passwordr" />
                                <p:password id="passwordr" 
                                            value="#{webUserController.selected.repeatPassword}" 
                                            title="#{bundle.PasswordAgain}" />
                                

                            </p:panelGrid>

                            <p:commandButton ajax="false"
                                             actionListener="#{webUserController.saveExistingUserPassword()}"
                                             value="#{bundle.Save}" />
                        </h:panelGroup>
                    </h:form>
                </p:panel>
            </ui:define>

        </ui:composition>

    </body>
</html>
