<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <body>

        <ui:composition template="./index.xhtml">

            <ui:define name="userimage">
                <p:graphicImage library="image" name="user_add.png" styleClass="sideImage" ></p:graphicImage>
            </ui:define>

            <ui:define name="manageusers">
                <p:panel header="Edit User - #{webUserController.selected.name}" >
                    <h:form id="WebUserCreateForm">
                        <h:panelGroup id="display">
                            <p:panelGrid columns="2" rendered="#{webUserController.selected != null}">
                                
                                <p:outputLabel value="#{bundle.CreateWebUserLabel_name}" for="name" />
                                <p:inputText id="name" value="#{webUserController.selected.name}" title="#{bundle.CreateWebUserTitle_name}" />

                                <p:outputLabel value="#{bundle.CreateWebUserLabel_userName}" for="userName" />
                                <p:inputText disabled="true" id="userName" value="#{webUserController.selected.userName}" title="#{bundle.CreateWebUserTitle_userName}" />
                                
                                <p:outputLabel value="Email" for="email" />
                                <p:inputText id="email" value="#{webUserController.selected.email}" title="#{bundle.CreateWebUserTitle_email}" />
                                
                                <p:outputLabel value="Institution" for="ins" />
                                <p:selectOneMenu id="ins" value="#{webUserController.selected.institute}" > 
                                    <f:selectItem itemLabel="Select" ></f:selectItem>
                                    <f:selectItems value="#{instituteController.itemsAvailableSelectOne}" var="i" itemLabel="#{i.name}" itemValue="#{i}" ></f:selectItems>
                                </p:selectOneMenu>
                                
                                <p:outputLabel value="Department" for="dept" />
                                <p:selectOneMenu id="dept" value="#{webUserController.selected.department}" > 
                                    <f:selectItem itemLabel="Select" ></f:selectItem>
                                    <f:selectItems value="#{departmentController.itemsAvailableSelectOne}" var="d" itemLabel="#{d.name}" itemValue="#{d}" ></f:selectItems>
                                </p:selectOneMenu>

                            </p:panelGrid>
                            <p:commandButton ajax="false"
                                             actionListener="#{webUserController.saveExistingUser}"
                                             value="#{bundle.Save}" />
                        </h:panelGroup>
                    </h:form>
                </p:panel>
            </ui:define>

        </ui:composition>

    </body>
</html>
