<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <body>

        <ui:composition template="/template.xhtml">

            <ui:define name="body">

                <p:panel >

                    <f:view>


                        <h:form>
                            
                            <p:panelGrid columns="2" >
                                <p:outputLabel value="From" ></p:outputLabel>
                                <p:calendar pattern="dd MMMM yyyy" value="#{mailController.fromDate}" ></p:calendar>
                                <p:outputLabel value="To" ></p:outputLabel>
                                <p:calendar pattern="dd MMMM yyyy" value="#{mailController.toDate}" ></p:calendar>
                                <p:spacer ></p:spacer>
                                <h:panelGroup >
                                    <p:commandButton value="Process" action="#{mailController.fillSuggestionsByPeriod()}" ajax="false" ></p:commandButton>
                                    <p:commandButton value="Excel" ajax="false" >
                                        <p:dataExporter target="tbl" type="xls" fileName="list" ></p:dataExporter>
                                    </p:commandButton>
                                </h:panelGroup>
                                
                            </p:panelGrid>
                            
                            <p:dataTable id="tbl" value="#{mailController.selectedItems}" var="item">
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Suggestions"/>
                                    </f:facet>
                                    <h:outputText value="#{item.suggestions}"/>
                                </p:column>
                            </p:dataTable>
                        </h:form>
                    </f:view>

                </p:panel>


            </ui:define>

        </ui:composition>

    </body>
</html>
