<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute name="wound" class="com.sss.wc.entity.Wound" type="com.sss.wc.entity.Wound" />

    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <h:panelGrid columns="1" styleClass="alignTop">
            <p:panelGrid columns="2" >
                <p:outputLabel value="Laterality" ></p:outputLabel>
                <p:outputLabel value="#{cc.attrs.wound.laterality}"  >
                </p:outputLabel>
                <p:outputLabel value="Onset" ></p:outputLabel>
                <p:outputLabel id="onset" value="#{cc.attrs.wound.onset}" >
                </p:outputLabel>
                <p:outputLabel value="Duration" ></p:outputLabel>
                <p:outputLabel value="#{cc.attrs.wound.duration} - #{cc.attrs.wound.durationUnit}" >
                </p:outputLabel>
                <p:outputLabel value="Ulcer Type" ></p:outputLabel>
                <h:panelGroup >
                    <p:outputLabel id="ulcer" value="#{cc.attrs.wound.ulcerType}" >
                    </p:outputLabel>
                    <p:outputLabel value="#{cc.attrs.wound.otherUlcerType}" ></p:outputLabel>
                </h:panelGroup>
            </p:panelGrid>
            <h:panelGrid columns="4" >
                <h:panelGroup id="venousDetails"  >
                    <p:panelGrid columns="3" rendered="#{cc.attrs.wound.displayVenous}" >
                        <h:panelGroup >
                            <h:outputText value="#{cc.attrs.wound.sfl?'SFL':'No SFL'}" ></h:outputText>
                        </h:panelGroup> 
                        <h:panelGroup >
                            <h:outputText value="#{cc.attrs.wound.evlt?'EVLT':'No EVLT' }" ></h:outputText>
                        </h:panelGroup>
                        <h:panelGroup >
                            <h:outputText value="#{cc.attrs.wound.spd?'SPD':'No SPD'}" ></h:outputText>
                        </h:panelGroup>
                    </p:panelGrid>
                </h:panelGroup>

                <h:panelGroup id="ischaemic" rendered="false" >
                    <h:panelGroup rendered="#{cc.attrs.wound.displayIschaemic}" >
                        <p:panelGrid style="width: 100%;" >
                            <f:facet name="header">
                                <p:row>
                                    <p:column colspan="3">Pulse Status</p:column>
                                </p:row>
                                <p:row>
                                    <p:column >
                                        <p:outputLabel value="Pulse" ></p:outputLabel>
                                    </p:column>
                                    <p:column >
                                        <p:outputLabel value="Right" ></p:outputLabel>
                                    </p:column>
                                    <p:column >
                                        <p:outputLabel value="Left" ></p:outputLabel>
                                    </p:column>
                                </p:row>
                            </f:facet>
                            <p:row>
                                <p:column >
                                    <p:outputLabel value="Femoral" ></p:outputLabel>
                                </p:column>
                                <p:column >
                                    <h:outputText value="#{cc.attrs.wound.spd?'SPD':''}" ></h:outputText>
                                    <p:selectBooleanButton offLabel="No" onLabel="Yes" 
                                                           value="#{cc.attrs.wound.femoralPulseRight}"
                                                           onIcon="ui-icon-check" offIcon="ui-icon-close"></p:selectBooleanButton>
                                </p:column>
                                <p:column >
                                    <h:outputText value="#{cc.attrs.wound.spd?'SPD':''}" ></h:outputText>
                                    <p:selectBooleanButton offLabel="No" onLabel="Yes" 
                                                           value="#{cc.attrs.wound.femoralPulseLeft}"
                                                           onIcon="ui-icon-check" offIcon="ui-icon-close"></p:selectBooleanButton>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column >
                                    <p:outputLabel value="Popliteal" ></p:outputLabel>
                                </p:column>
                                <p:column >
                                    <h:outputText value="#{cc.attrs.wound.spd?'SPD':''}" ></h:outputText>
                                    <p:selectBooleanButton offLabel="No" onLabel="Yes" 
                                                           value="#{cc.attrs.wound.poplitealPulseRight}"
                                                           onIcon="ui-icon-check" offIcon="ui-icon-close"></p:selectBooleanButton>
                                </p:column>
                                <p:column >
                                    <h:outputText value="#{cc.attrs.wound.spd?'SPD':''}" ></h:outputText>
                                    <p:selectBooleanButton offLabel="No" onLabel="Yes" 
                                                           value="#{cc.attrs.wound.poplitealPulseLeft}"
                                                           onIcon="ui-icon-check" offIcon="ui-icon-close"></p:selectBooleanButton>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column >
                                    <p:outputLabel value="PTA" ></p:outputLabel>
                                </p:column>
                                <p:column >
                                    <h:outputText value="#{cc.attrs.wound.spd?'SPD':''}" ></h:outputText>
                                    <p:selectBooleanButton offLabel="No" onLabel="Yes" 
                                                           value="#{cc.attrs.wound.ptaPulseRight}"
                                                           onIcon="ui-icon-check" offIcon="ui-icon-close"></p:selectBooleanButton>
                                </p:column>
                                <p:column >
                                    <h:outputText value="#{cc.attrs.wound.spd?'SPD':''}" ></h:outputText>
                                    <p:selectBooleanButton offLabel="No" onLabel="Yes" 
                                                           value="#{cc.attrs.wound.ptsPulseLeft}"
                                                           onIcon="ui-icon-check" offIcon="ui-icon-close"></p:selectBooleanButton>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column >
                                    <p:outputLabel value="DPA" ></p:outputLabel>
                                </p:column>
                                <p:column >
                                    <h:outputText value="#{cc.attrs.wound.spd?'SPD':''}" ></h:outputText>
                                    <p:selectBooleanButton value="#{cc.attrs.wound.dpaPulseRight}"
                                                           offLabel="No" onLabel="Yes" 
                                                           onIcon="ui-icon-check" offIcon="ui-icon-close"
                                                           ></p:selectBooleanButton>
                                </p:column>
                                <p:column >
                                    <h:outputText value="#{cc.attrs.wound.spd?'SPD':''}" ></h:outputText>
                                    <p:selectBooleanButton offLabel="No" onLabel="Yes" 
                                                           value="#{cc.attrs.wound.dpaPulseLeft}"
                                                           onIcon="ui-icon-check" offIcon="ui-icon-close"></p:selectBooleanButton>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                        <p:spacer></p:spacer>
                        <p:panelGrid>
                            <p:row >
                                <p:column colspan="4" >
                                    <p:outputLabel value="PVD" ></p:outputLabel>
                                    <p:spacer height="1" width="5" ></p:spacer>
                                    <h:outputText value="#{cc.attrs.wound.spd?'SPD':''}" ></h:outputText>
                                    <p:selectBooleanCheckbox value="#{cc.attrs.wound.pvd}" ></p:selectBooleanCheckbox>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column colspan="4">
                                    <p:outputLabel value="Intermittent claudication" ></p:outputLabel>
                                    <p:spacer height="1" width="5" ></p:spacer>
                                    <h:outputText value="#{cc.attrs.wound.spd?'SPD':''}" ></h:outputText>
                                    <p:selectBooleanCheckbox value="#{cc.attrs.wound.intermittentClaudication}" ></p:selectBooleanCheckbox>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column colspan="2">
                                    <p:outputLabel value="Rest Pain" ></p:outputLabel>
                                    <h:outputText value="#{cc.attrs.wound.spd?'SPD':''}" ></h:outputText>
                                    <p:selectBooleanCheckbox value="#{cc.attrs.wound.restPain}" >
                                        <p:ajax process="@this" update="restPain" ></p:ajax>
                                    </p:selectBooleanCheckbox>
                                </p:column>
                                <p:column colspan="2">
                                    <h:panelGroup id="restPain" >
                                        <h:panelGroup rendered="#{cc.attrs.wound.restPain}" >
                                            <h:outputText value="#{cc.attrs.wound.spd?'SPD':''}" ></h:outputText>
                                            <p:selectOneButton value="#{cc.attrs.wound.restPainLaterality}" >
                                                <f:selectItems value="#{enumController.lateralitiesWithoutOther}" ></f:selectItems>
                                            </p:selectOneButton>
                                        </h:panelGroup>
                                    </h:panelGroup>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column colspan="2" rowspan="2">
                                    <p:outputLabel value="Neuropathy" ></p:outputLabel>
                                    <h:outputText value="#{cc.attrs.wound.spd?'SPD':''}" ></h:outputText>
                                    <p:selectBooleanCheckbox value="#{cc.attrs.wound.neuropathy}" >
                                        <!--<p:ajax process="@this" update="neuropathy1 neuropathy2 neuropathy3" ></p:ajax>-->
                                    </p:selectBooleanCheckbox>
                                </p:column>
                                <p:column colspan="2" id="neuropathy1">
                                    <p:outputLabel value="Monofilament Test" ></p:outputLabel>
                                </p:column>
                            </p:row>
                            <p:row >
                                <p:column id="neuropathy2" >
                                    <p:outputLabel value="Right"  ></p:outputLabel>
                                    <p:inputText   
                                        value="#{cc.attrs.wound.monofilamentRight}" style="width: 50px;" ></p:inputText>
                                </p:column>
                                <p:column  id="neuropathy3">
                                    <p:outputLabel value="Left" ></p:outputLabel>
                                    <p:inputText value="#{cc.attrs.wound.monofilamentLeft}" 
                                                 style="width: 50px;" ></p:inputText>
                                </p:column>
                            </p:row>
                            <p:row >
                                <p:column rowspan="6" >
                                    <p:outputLabel value="Foot Deformities" ></p:outputLabel>
                                </p:column>
                                <p:column >

                                </p:column>
                                <p:column >
                                    <p:outputLabel value="Right" ></p:outputLabel>
                                </p:column>
                                <p:column >
                                    <p:outputLabel value="Left" ></p:outputLabel>
                                </p:column>
                            </p:row>
                            <p:row >
                                <p:column >
                                    <p:outputLabel value="High arch" ></p:outputLabel>
                                </p:column>
                                <p:column >
                                    <h:outputText value="#{cc.attrs.wound.spd?'SPD':''}" ></h:outputText>
                                    <p:selectBooleanButton value="#{cc.attrs.wound.highArchRight}"  
                                                           offLabel="No" onLabel="Yes" 
                                                           onIcon="ui-icon-check" offIcon="ui-icon-close"
                                                           ></p:selectBooleanButton>
                                </p:column>
                                <p:column >
                                    <h:outputText value="#{cc.attrs.wound.spd?'SPD':''}" ></h:outputText>
                                    <p:selectBooleanButton value="#{cc.attrs.wound.highArchLeft}"  
                                                           offLabel="No" onLabel="Yes" 
                                                           onIcon="ui-icon-check" offIcon="ui-icon-close"
                                                           ></p:selectBooleanButton>
                                </p:column>
                            </p:row>
                            <p:row >
                                <p:column >
                                    <p:outputLabel value="Flat foot" ></p:outputLabel>
                                </p:column>
                                <p:column >
                                    <h:outputText value="#{cc.attrs.wound.spd?'SPD':''}" ></h:outputText>
                                    <p:selectBooleanButton value="#{cc.attrs.wound.flatFootRight}"  
                                                           offLabel="No" onLabel="Yes" 
                                                           onIcon="ui-icon-check" offIcon="ui-icon-close"
                                                           ></p:selectBooleanButton>
                                </p:column>
                                <p:column >
                                    <h:outputText value="#{cc.attrs.wound.spd?'SPD':''}" ></h:outputText>
                                    <p:selectBooleanButton value="#{cc.attrs.wound.flatFootLeft}"  
                                                           offLabel="No" onLabel="Yes" 
                                                           onIcon="ui-icon-check" offIcon="ui-icon-close"
                                                           ></p:selectBooleanButton>
                                </p:column>
                            </p:row>
                            <p:row >
                                <p:column >
                                    <p:outputLabel value="Claw toes" ></p:outputLabel>
                                </p:column>
                                <p:column >
                                    <h:outputText value="#{cc.attrs.wound.spd?'SPD':''}" ></h:outputText>
                                    <p:selectBooleanButton value="#{cc.attrs.wound.clawToesRight}"  
                                                           offLabel="No" onLabel="Yes" 
                                                           onIcon="ui-icon-check" offIcon="ui-icon-close"
                                                           ></p:selectBooleanButton>
                                </p:column>
                                <p:column >
                                    <h:outputText value="#{cc.attrs.wound.spd?'SPD':''}" ></h:outputText>
                                    <p:selectBooleanButton value="#{cc.attrs.wound.clawToesLeft}"  
                                                           offLabel="No" onLabel="Yes" 
                                                           onIcon="ui-icon-check" offIcon="ui-icon-close"
                                                           ></p:selectBooleanButton>
                                </p:column>
                            </p:row>
                            <p:row >
                                <p:column >
                                    <p:outputLabel value="Hallux valgus" ></p:outputLabel>
                                </p:column>
                                <p:column >
                                    <h:outputText value="#{cc.attrs.wound.spd?'SPD':''}" ></h:outputText>
                                    <p:selectBooleanButton value="#{cc.attrs.wound.halluxValgusRight}"  
                                                           offLabel="No" onLabel="Yes" 
                                                           onIcon="ui-icon-check" offIcon="ui-icon-close"
                                                           ></p:selectBooleanButton>
                                </p:column>
                                <p:column >
                                    <h:outputText value="#{cc.attrs.wound.spd?'SPD':''}" ></h:outputText>
                                    <p:selectBooleanButton value="#{cc.attrs.wound.halluxValgusLeft}"  
                                                           offLabel="No" onLabel="Yes" 
                                                           onIcon="ui-icon-check" offIcon="ui-icon-close"
                                                           ></p:selectBooleanButton>
                                </p:column>
                            </p:row>
                            <p:row >
                                <p:column >
                                    <p:outputLabel value="Charcot’s foot" ></p:outputLabel>
                                </p:column>
                                <p:column >
                                    <h:outputText value="#{cc.attrs.wound.spd?'SPD':''}" ></h:outputText>
                                    <p:selectBooleanButton value="#{cc.attrs.wound.charcotsFootRight}"  
                                                           offLabel="No" onLabel="Yes" 
                                                           onIcon="ui-icon-check" offIcon="ui-icon-close"
                                                           ></p:selectBooleanButton>
                                </p:column>
                                <p:column >
                                    <h:outputText value="#{cc.attrs.wound.spd?'SPD':''}" ></h:outputText>
                                    <p:selectBooleanButton value="#{cc.attrs.wound.charcotsFootLeft}"  
                                                           offLabel="No" onLabel="Yes" 
                                                           onIcon="ui-icon-check" offIcon="ui-icon-close"
                                                           ></p:selectBooleanButton>
                                </p:column>
                            </p:row>
                        </p:panelGrid>

                    </h:panelGroup>
                </h:panelGroup>

                <h:panelGrid columns="1" rendered="false" >

                    <h:panelGroup id="dmDetails" styleClass="alignTop"  >
                        <p:panelGrid rendered="#{cc.attrs.wound.displayDm}" styleClass="alignTop" >
                            <f:facet name="header" >
                                <p:row >
                                    <p:column colspan="3" >

                                        <h:outputText value="DM" />
                                        <p:spacer height="1" width="5" ></p:spacer>
                                        <h:outputText value="#{cc.attrs.wound.spd?'SPD':''}" ></h:outputText>
                                        <p:selectBooleanCheckbox id="sobDm" value="#{cc.attrs.wound.dm}"
                                                                 >
                                            <p:ajax process="@this" update="dmDetails"  ></p:ajax>
                                        </p:selectBooleanCheckbox>
                                    </p:column>
                                </p:row>
                            </f:facet>
                            <p:row   rendered="#{cc.attrs.wound.dm}" >
                                <p:column >
                                    <h:outputText value="Duration"  />
                                </p:column>
                                <p:column colspan="2" >
                                    <h:panelGroup  >
                                        <p:inputText value="#{cc.attrs.wound.dmDuration}" style="width: 30px;" ></p:inputText>
                                        <p:selectOneMenu value="#{cc.attrs.wound.dmDurationUnit}" >
                                            <f:selectItems value="#{enumController.durationUnits}" ></f:selectItems>
                                        </p:selectOneMenu>
                                    </h:panelGroup>
                                </p:column>
                            </p:row>
                            <p:row  rendered="#{cc.attrs.wound.dm}" >
                                <p:column >
                                    <h:panelGroup  >
                                        <h:outputText value="Diet Control" />
                                        <h:outputText value="#{cc.attrs.wound.spd?'SPD':''}" ></h:outputText>
                                        <p:selectBooleanCheckbox value="#{cc.attrs.wound.dietControl}" >
                                        </p:selectBooleanCheckbox>
                                    </h:panelGroup>
                                </p:column>
                                <p:column >
                                    <h:panelGroup  >
                                        <h:outputText value="OHA" />
                                        <h:outputText value="#{cc.attrs.wound.spd?'SPD':''}" ></h:outputText>
                                        <p:selectBooleanCheckbox value="#{cc.attrs.wound.oha}">
                                        </p:selectBooleanCheckbox>
                                    </h:panelGroup>
                                </p:column>
                                <p:column >
                                    <h:panelGroup  >
                                        <h:outputText value="Insulin" />
                                        <h:outputText value="#{cc.attrs.wound.spd?'SPD':''}" ></h:outputText>
                                        <p:selectBooleanCheckbox value="#{cc.attrs.wound.insulin}">
                                        </p:selectBooleanCheckbox>
                                    </h:panelGroup>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </h:panelGroup>
                    <p:spacer></p:spacer>
                    <h:panelGroup id="iscDetails" styleClass="alignTop"  >
                        <p:panelGrid rendered="#{cc.attrs.wound.displayIschaemic}" styleClass="alignTop" columns="2" >
                            <p:outputLabel value="Dyslipidaemia" ></p:outputLabel>
                            <h:outputText value="#{cc.attrs.wound.spd?'SPD':''}" ></h:outputText>
                            <p:selectBooleanButton value="#{cc.attrs.wound.dyslipidaemia}"  
                                                   offLabel="No" onLabel="Yes" 
                                                   onIcon="ui-icon-check" offIcon="ui-icon-close"
                                                   ></p:selectBooleanButton>
                            <p:outputLabel value="Hypertension" ></p:outputLabel>
                            <h:outputText value="#{cc.attrs.wound.spd?'SPD':''}" ></h:outputText>
                            <p:selectBooleanButton value="#{cc.attrs.wound.hypertension}"  
                                                   offLabel="No" onLabel="Yes" 
                                                   onIcon="ui-icon-check" offIcon="ui-icon-close"
                                                   ></p:selectBooleanButton>
                            <p:outputLabel value="Smoking" ></p:outputLabel>
                            <h:outputText value="#{cc.attrs.wound.spd?'SPD':''}" ></h:outputText>
                            <p:selectBooleanButton value="#{cc.attrs.wound.smoking}"  
                                                   offLabel="No" onLabel="Yes" 
                                                   onIcon="ui-icon-check" offIcon="ui-icon-close"
                                                   ></p:selectBooleanButton>
                            <p:outputLabel value="Cardiac disease" ></p:outputLabel>
                            <h:outputText value="#{cc.attrs.wound.spd?'SPD':''}" ></h:outputText>
                            <p:selectBooleanButton value="#{cc.attrs.wound.cardiacDisease}"  
                                                   offLabel="No" onLabel="Yes" 
                                                   onIcon="ui-icon-check" offIcon="ui-icon-close"
                                                   ></p:selectBooleanButton>
                            <p:outputLabel value="Cerebral Vascular accidents" ></p:outputLabel>
                            <h:outputText value="#{cc.attrs.wound.spd?'SPD':''}" ></h:outputText>
                            <p:selectBooleanButton value="#{cc.attrs.wound.cerebralVascularAccidents}"  
                                                   offLabel="No" onLabel="Yes" 
                                                   onIcon="ui-icon-check" offIcon="ui-icon-close"
                                                   ></p:selectBooleanButton>
                        </p:panelGrid>
                    </h:panelGroup>
                    <p:spacer></p:spacer>
                    <p:panelGrid  >
                        <p:row >
                            <p:column >
                                <p:outputLabel value="Wound Bx" ></p:outputLabel>
                                <p:spacer height="1" width="10" ></p:spacer>
                                <h:outputText value="#{cc.attrs.wound.spd?'SPD':''}" ></h:outputText>
                                <p:selectBooleanCheckbox value="#{cc.attrs.wound.woundBiopsy}" ></p:selectBooleanCheckbox>
                            </p:column>
                        </p:row>
                        <p:row >
                            <p:column >
                                <p:inputTextarea value="#{cc.attrs.wound.woundBiopsyDetails}" ></p:inputTextarea>
                            </p:column>
                        </p:row>
                    </p:panelGrid>
                </h:panelGrid>
            </h:panelGrid>
        </h:panelGrid>




    </cc:implementation>
</html>