<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ItemViewDlg" widgetVar="ItemViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle1.ViewItemTitle}">
            <h:form id="ItemViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{itemController.selected != null}">
                        <h:outputText value="#{bundle1.ViewItemLabel_name}"/>
                        <h:outputText value="#{itemController.selected.name}" title="#{bundle1.ViewItemTitle_name}"/>
                        <h:outputText value="#{bundle1.ViewItemLabel_sname}"/>
                        <h:outputText value="#{itemController.selected.resultUnit}" title="#{bundle1.ViewItemTitle_sname}"/>
                        <h:outputText value="#{bundle1.ViewItemLabel_tname}"/>
                        <h:outputText value="#{itemController.selected.tname}" title="#{bundle1.ViewItemTitle_tname}"/>
                        <h:outputText value="#{bundle1.ViewItemLabel_itemCategory}"/>
                        <h:outputText value="#{itemController.selected.itemType}" title="#{bundle1.ViewItemTitle_itemCategory}"/>
                      
                    </p:panelGrid>
                    <p:commandButton value="#{bundle1.Close}" onclick="ItemViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
