<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ResourceCreateDlg" widgetVar="ResourceCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundleRe.CreateResourceTitle}">
            <h:form id="ResourceCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{resourceController.selected != null}">
                        <p:outputLabel value="#{bundleRe.CreateResourceLabel_baImage}" for="baImage" />
                        <p:inputTextarea rows="4" cols="30" id="baImage" value="#{resourceController.selected.baImage}" title="#{bundleRe.CreateResourceTitle_baImage}" />
                        <p:outputLabel value="#{bundleRe.CreateResourceLabel_fileName}" for="fileName" />
                        <p:inputText id="fileName" value="#{resourceController.selected.fileName}" title="#{bundleRe.CreateResourceTitle_fileName}" />
                        <p:outputLabel value="#{bundleRe.CreateResourceLabel_fileType}" for="fileType" />
                        <p:inputText id="fileType" value="#{resourceController.selected.fileType}" title="#{bundleRe.CreateResourceTitle_fileType}" />
                        <p:outputLabel value="#{bundleRe.CreateResourceLabel_patient}" for="patient" />
                        <p:selectOneMenu id="patient" value="#{resourceController.selected.patient}" >
                            <f:selectItems value="#{patientController.itemsAvailableSelectOne}"
                                           var="patientItem"
                                           itemValue="#{patientItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundleRe.CreateResourceLabel_encounter}" for="encounter" />
                        <p:selectOneMenu id="encounter" value="#{resourceController.selected.encounter}" >
                            <f:selectItems value="#{encounterController.itemsAvailableSelectOne}"
                                           var="encounterItem"
                                           itemValue="#{encounterItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundleRe.CreateResourceLabel_wound}" for="wound" />
                        <p:selectOneMenu id="wound" value="#{resourceController.selected.wound}" >
                            <f:selectItems value="#{woundController.itemsAvailableSelectOne}"
                                           var="woundItem"
                                           itemValue="#{woundItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundleRe.CreateResourceLabel_id}" for="id" />
                        <p:inputText id="id" value="#{resourceController.selected.id}" title="#{bundleRe.CreateResourceTitle_id}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{resourceController.create}" value="#{bundleRe.Save}" update="display,:ResourceListForm:datalist,:growl" oncomplete="handleSubmit(args,'ResourceCreateDialog');"/>
                    <p:commandButton value="#{bundleRe.Cancel}" onclick="ResourceCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
