<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ResourceEditDlg" widgetVar="ResourceEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundleRe.EditResourceTitle}">
            <h:form id="ResourceEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{resourceController.selected != null}">
                        <p:outputLabel value="#{bundleRe.EditResourceLabel_baImage}" for="baImage" />
                        <p:inputTextarea rows="4" cols="30" id="baImage" value="#{resourceController.selected.baImage}" title="#{bundleRe.EditResourceTitle_baImage}" />
                        <p:outputLabel value="#{bundleRe.EditResourceLabel_fileName}" for="fileName" />
                        <p:inputText id="fileName" value="#{resourceController.selected.fileName}" title="#{bundleRe.EditResourceTitle_fileName}" />
                        <p:outputLabel value="#{bundleRe.EditResourceLabel_fileType}" for="fileType" />
                        <p:inputText id="fileType" value="#{resourceController.selected.fileType}" title="#{bundleRe.EditResourceTitle_fileType}" />
                        <p:outputLabel value="#{bundleRe.EditResourceLabel_patient}" for="patient" />
                        <p:selectOneMenu id="patient" value="#{resourceController.selected.patient}" >
                            <f:selectItem itemLabel="#{bundleRe.SelectOneMessage}"/>
                            <f:selectItems value="#{patientController.itemsAvailableSelectOne}"
                                           var="patientItem"
                                           itemValue="#{patientItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundleRe.EditResourceLabel_encounter}" for="encounter" />
                        <p:selectOneMenu id="encounter" value="#{resourceController.selected.encounter}" >
                            <f:selectItem itemLabel="#{bundleRe.SelectOneMessage}"/>
                            <f:selectItems value="#{encounterController.itemsAvailableSelectOne}"
                                           var="encounterItem"
                                           itemValue="#{encounterItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundleRe.EditResourceLabel_wound}" for="wound" />
                        <p:selectOneMenu id="wound" value="#{resourceController.selected.wound}" >
                            <f:selectItem itemLabel="#{bundleRe.SelectOneMessage}"/>
                            <f:selectItems value="#{woundController.itemsAvailableSelectOne}"
                                           var="woundItem"
                                           itemValue="#{woundItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundleRe.EditResourceLabel_id}" for="id" />
                        <p:inputText id="id" value="#{resourceController.selected.id}" title="#{bundleRe.EditResourceTitle_id}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{resourceController.update}" value="#{bundleRe.Save}" update="display,:ResourceListForm:datalist,:growl" oncomplete="handleSubmit(args, 'ResourceEditDialog');"/>
                    <p:commandButton value="#{bundleRe.Cancel}" onclick="ResourceEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
