<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundleRe.ListResourceTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="ResourceListForm">
                <p:panel header="#{bundleRe.ListResourceTitle}">
                    <p:dataTable id="datalist" value="#{resourceController.items}" var="item"
                                 selectionMode="single" selection="#{resourceController.selected}"
                                 paginator="true"
                                 rowKey="#{item.id}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundleRe.ListResourceTitle_baImage}"/>
                            </f:facet>
                            <h:outputText value="#{item.baImage}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundleRe.ListResourceTitle_fileName}"/>
                            </f:facet>
                            <h:outputText value="#{item.fileName}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundleRe.ListResourceTitle_fileType}"/>
                            </f:facet>
                            <h:outputText value="#{item.fileType}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundleRe.ListResourceTitle_patient}"/>
                            </f:facet>
                            <h:outputText value="#{item.patient}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundleRe.ListResourceTitle_encounter}"/>
                            </f:facet>
                            <h:outputText value="#{item.encounter}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundleRe.ListResourceTitle_wound}"/>
                            </f:facet>
                            <h:outputText value="#{item.wound}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundleRe.ListResourceTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundleRe.Create}" actionListener="#{resourceController.prepareCreate}" update=":ResourceCreateForm" oncomplete="PF('ResourceCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundleRe.View}" update=":ResourceViewForm" oncomplete="PF('ResourceViewDialog').show()" disabled="#{empty resourceController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundleRe.Edit}" update=":ResourceEditForm" oncomplete="PF('ResourceEditDialog').show()" disabled="#{empty resourceController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundleRe.Delete}" actionListener="#{resourceController.destroy}" update=":growl,datalist" disabled="#{empty resourceController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
