<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ResourceViewDlg" widgetVar="ResourceViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundleRe.ViewResourceTitle}">
            <h:form id="ResourceViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{resourceController.selected != null}">
                        <h:outputText value="#{bundleRe.ViewResourceLabel_baImage}"/>
                        <h:outputText value="#{resourceController.selected.baImage}" title="#{bundleRe.ViewResourceTitle_baImage}"/>
                        <h:outputText value="#{bundleRe.ViewResourceLabel_fileName}"/>
                        <h:outputText value="#{resourceController.selected.fileName}" title="#{bundleRe.ViewResourceTitle_fileName}"/>
                        <h:outputText value="#{bundleRe.ViewResourceLabel_fileType}"/>
                        <h:outputText value="#{resourceController.selected.fileType}" title="#{bundleRe.ViewResourceTitle_fileType}"/>
                        <h:outputText value="#{bundleRe.ViewResourceLabel_patient}"/>
                        <h:outputText value="#{resourceController.selected.patient}" title="#{bundleRe.ViewResourceTitle_patient}"/>
                        <h:outputText value="#{bundleRe.ViewResourceLabel_encounter}"/>
                        <h:outputText value="#{resourceController.selected.encounter}" title="#{bundleRe.ViewResourceTitle_encounter}"/>
                        <h:outputText value="#{bundleRe.ViewResourceLabel_wound}"/>
                        <h:outputText value="#{resourceController.selected.wound}" title="#{bundleRe.ViewResourceTitle_wound}"/>
                        <h:outputText value="#{bundleRe.ViewResourceLabel_id}"/>
                        <h:outputText value="#{resourceController.selected.id}" title="#{bundleRe.ViewResourceTitle_id}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundleRe.Close}" onclick="ResourceViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
