<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <body>

        <ui:composition template="./template.xhtml">

            <ui:define name="body">

                <p:panel header="Login" styleClass="loginBox" rendered="#{webUserController.loggedUser eq null}" >
                    <h:form >
                        <h1>System Timed-Out. Please login again.</h1>
                        <h2>You have not used the application for more than 30 minutes. So we have invalidated the user session for security reasons. Please login again.</h2>
                        <p:commandButton ajax="false" value="Login" action="/index" ></p:commandButton>
                    </h:form>
                </p:panel>

            </ui:define>

        </ui:composition>


    </body>













</html>
