<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="EncounterItemCreateDlg" widgetVar="EncounterItemCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundleEnI.CreateEncounterItemTitle}">
            <h:form id="EncounterItemCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{encounterItemController.selected != null}">
                        <p:outputLabel value="#{bundleEnI.CreateEncounterItemLabel_imageEncounter}" for="imageEncounter" />
                        <p:selectOneMenu id="imageEncounter" value="#{encounterItemController.selected.imageEncounter}" >
                            <f:selectItems value="#{woundController.itemsAvailableSelectOne}"
                                           var="imageEncounterItem"
                                           itemValue="#{imageEncounterItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundleEnI.CreateEncounterItemLabel_encounter}" for="encounter" />
                        <p:selectOneMenu id="encounter" value="#{encounterItemController.selected.encounter}" >
                            <f:selectItems value="#{woundController.itemsAvailableSelectOne}"
                                           var="encounterItem"
                                           itemValue="#{encounterItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundleEnI.CreateEncounterItemLabel_item}" for="item" />
                        <p:selectOneMenu id="item" value="#{encounterItemController.selected.item}" >
                            <f:selectItems value="#{itemController.itemsAvailableSelectOne}"
                                           var="itemItem"
                                           itemValue="#{itemItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundleEnI.CreateEncounterItemLabel_encounterItemType}" for="encounterItemType" />
                        <p:inputText id="encounterItemType" value="#{encounterItemController.selected.encounterItemType}" title="#{bundleEnI.CreateEncounterItemTitle_encounterItemType}" />
                        <p:outputLabel value="#{bundleEnI.CreateEncounterItemLabel_duration}" for="duration" />
                        <p:inputText id="duration" value="#{encounterItemController.selected.duration}" title="#{bundleEnI.CreateEncounterItemTitle_duration}" />
                        <p:outputLabel value="#{bundleEnI.CreateEncounterItemLabel_baImage}" for="baImage" />
                        <p:inputTextarea rows="4" cols="30" id="baImage" value="#{encounterItemController.selected.baImage}" title="#{bundleEnI.CreateEncounterItemTitle_baImage}" />
                        <p:outputLabel value="#{bundleEnI.CreateEncounterItemLabel_fileName}" for="fileName" />
                        <p:inputText id="fileName" value="#{encounterItemController.selected.fileName}" title="#{bundleEnI.CreateEncounterItemTitle_fileName}" />
                        <p:outputLabel value="#{bundleEnI.CreateEncounterItemLabel_fileType}" for="fileType" />
                        <p:inputText id="fileType" value="#{encounterItemController.selected.fileType}" title="#{bundleEnI.CreateEncounterItemTitle_fileType}" />
                        <p:outputLabel value="#{bundleEnI.CreateEncounterItemLabel_id}" for="id" />
                        <p:inputText id="id" value="#{encounterItemController.selected.id}" title="#{bundleEnI.CreateEncounterItemTitle_id}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{encounterItemController.create}" value="#{bundleEnI.Save}" update="display,:EncounterItemListForm:datalist,:growl" oncomplete="handleSubmit(args,'EncounterItemCreateDialog');"/>
                    <p:commandButton value="#{bundleEnI.Cancel}" onclick="EncounterItemCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
