<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundleEnI.ListEncounterItemTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="EncounterItemListForm">
                <p:panel header="#{bundleEnI.ListEncounterItemTitle}">
                    <p:dataTable id="datalist" value="#{encounterItemController.items}" var="item"
                                 selectionMode="single" selection="#{encounterItemController.selected}"
                                 paginator="true"
                                 rowKey="#{item.id}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundleEnI.ListEncounterItemTitle_imageEncounter}"/>
                            </f:facet>
                            <h:outputText value="#{item.imageEncounter}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundleEnI.ListEncounterItemTitle_encounter}"/>
                            </f:facet>
                            <h:outputText value="#{item.encounter}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundleEnI.ListEncounterItemTitle_item}"/>
                            </f:facet>
                            <h:outputText value="#{item.item}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundleEnI.ListEncounterItemTitle_encounterItemType}"/>
                            </f:facet>
                            <h:outputText value="#{item.encounterItemType}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundleEnI.ListEncounterItemTitle_duration}"/>
                            </f:facet>
                            <h:outputText value="#{item.duration}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundleEnI.ListEncounterItemTitle_baImage}"/>
                            </f:facet>
                            <h:outputText value="#{item.baImage}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundleEnI.ListEncounterItemTitle_fileName}"/>
                            </f:facet>
                            <h:outputText value="#{item.fileName}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundleEnI.ListEncounterItemTitle_fileType}"/>
                            </f:facet>
                            <h:outputText value="#{item.fileType}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundleEnI.ListEncounterItemTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundleEnI.Create}" actionListener="#{encounterItemController.prepareCreate}" update=":EncounterItemCreateForm" oncomplete="PF('EncounterItemCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundleEnI.View}" update=":EncounterItemViewForm" oncomplete="PF('EncounterItemViewDialog').show()" disabled="#{empty encounterItemController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundleEnI.Edit}" update=":EncounterItemEditForm" oncomplete="PF('EncounterItemEditDialog').show()" disabled="#{empty encounterItemController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundleEnI.Delete}" actionListener="#{encounterItemController.destroy}" update=":growl,datalist" disabled="#{empty encounterItemController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
