<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="EncounterItemViewDlg" widgetVar="EncounterItemViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundleEnI.ViewEncounterItemTitle}">
            <h:form id="EncounterItemViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{encounterItemController.selected != null}">
                        <h:outputText value="#{bundleEnI.ViewEncounterItemLabel_imageEncounter}"/>
                        <h:outputText value="#{encounterItemController.selected.imageEncounter}" title="#{bundleEnI.ViewEncounterItemTitle_imageEncounter}"/>
                        <h:outputText value="#{bundleEnI.ViewEncounterItemLabel_encounter}"/>
                        <h:outputText value="#{encounterItemController.selected.encounter}" title="#{bundleEnI.ViewEncounterItemTitle_encounter}"/>
                        <h:outputText value="#{bundleEnI.ViewEncounterItemLabel_item}"/>
                        <h:outputText value="#{encounterItemController.selected.item}" title="#{bundleEnI.ViewEncounterItemTitle_item}"/>
                        <h:outputText value="#{bundleEnI.ViewEncounterItemLabel_encounterItemType}"/>
                        <h:outputText value="#{encounterItemController.selected.encounterItemType}" title="#{bundleEnI.ViewEncounterItemTitle_encounterItemType}"/>
                        <h:outputText value="#{bundleEnI.ViewEncounterItemLabel_duration}"/>
                        <h:outputText value="#{encounterItemController.selected.duration}" title="#{bundleEnI.ViewEncounterItemTitle_duration}"/>
                        <h:outputText value="#{bundleEnI.ViewEncounterItemLabel_baImage}"/>
                        <h:outputText value="#{encounterItemController.selected.baImage}" title="#{bundleEnI.ViewEncounterItemTitle_baImage}"/>
                        <h:outputText value="#{bundleEnI.ViewEncounterItemLabel_fileName}"/>
                        <h:outputText value="#{encounterItemController.selected.fileName}" title="#{bundleEnI.ViewEncounterItemTitle_fileName}"/>
                        <h:outputText value="#{bundleEnI.ViewEncounterItemLabel_fileType}"/>
                        <h:outputText value="#{encounterItemController.selected.fileType}" title="#{bundleEnI.ViewEncounterItemTitle_fileType}"/>
                        <h:outputText value="#{bundleEnI.ViewEncounterItemLabel_id}"/>
                        <h:outputText value="#{encounterItemController.selected.id}" title="#{bundleEnI.ViewEncounterItemTitle_id}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundleEnI.Close}" onclick="EncounterItemViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
