<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <body>

        <ui:composition template="/template.xhtml">

            <ui:define name="title">
                Wound
            </ui:define>

            <ui:define name="body">

                <p:panelGrid columns="2" styleClass="alignTop" style="width: 95vw;margin: auto;">

                    <p:panel header="Visit Details"  >
                        <f:facet name="header" >
                            <p:outputLabel value="Visit Details" ></p:outputLabel>
                        </f:facet>

                        <h:panelGrid columns="2" styleClass="alignTop" >
                            <h:panelGroup >
                                <h:form >
                                    <h:panelGrid columns="1" styleClass="alignTop">
                                        <h:panelGrid columns="3" >
                                            <p:commandButton value="Save Visit Details" action="#{patientController.saveEncounter()}" ajax="false" style="float: right;"></p:commandButton>
                                            <p:commandButton value="Back to Patient" action="/patient/patient" ajax="false" style="float: right;"></p:commandButton>
                                            <p:commandButton value="Back to Search" action="/patient/search" ajax="false" style="float: right;"></p:commandButton>
                                        </h:panelGrid>

                                        <p:panelGrid >
                                            <p:row >
                                                <p:column >
                                                    <p:outputLabel value="Visit Date" ></p:outputLabel>
                                                </p:column>
                                                <p:column colspan="2">
                                                    <p:calendar value="#{patientController.selectedEncounter.encounterDate}" pattern="dd MMMM yyyy" >
                                                    </p:calendar>
                                                </p:column>
                                            </p:row>
                                            <p:row >
                                                <p:column >
                                                    <p:outputLabel value="Intervention" ></p:outputLabel>
                                                </p:column>
                                                <p:column colspan="2">
                                                    <p:selectOneRadio 
                                                        value="#{patientController.selectedEncounter.intervention}" >
                                                        <f:selectItems value="#{enumController.interventions}"
                                                                       var="i" itemLabel="#{i.label}"
                                                                       itemValue="#{i}"></f:selectItems>
                                                    </p:selectOneRadio>
                                                </p:column>
                                            </p:row>
                                            
                                            <p:row >
                                                <p:column  >
                                                    <p:outputLabel value="Wound Dressings" ></p:outputLabel>
                                                </p:column>
                                                <p:column  >
                                                    <h:dataTable id="tblDressings" value="#{patientController.selectedEncounterItemsDressings}" var="d" >
                                                        <h:column  >
                                                            <p:outputLabel value="#{d.item.name}" ></p:outputLabel>
                                                            <p:spacer height="1" width="25"></p:spacer>
                                                            <p:commandButton id="btnDelDressing" title="Delete" icon="ui-icon-trash" action="#{patientController.removeEncounterItem()}" 
                                                                             process="btnDelDressing" update="@form" >
                                                                <f:setPropertyActionListener value="#{d}" target="#{patientController.selectedEncounterItem}" ></f:setPropertyActionListener>
                                                            </p:commandButton>
                                                        </h:column>
                                                    </h:dataTable>
                                                </p:column>
                                                <p:column  >
                                                    <p:selectOneMenu id="dressing" value="#{patientController.dressing}" >
                                                        <f:selectItem itemLabel="Select Dressing" ></f:selectItem>
                                                        <f:selectItems value="#{itemController.dressings}" ></f:selectItems>
                                                        <p:ajax process="@this" ></p:ajax>
                                                    </p:selectOneMenu>
                                                    <p:commandButton id="addDressing" value="Add" action="#{patientController.addDressing()}" 
                                                                     process="@this dressing" update="tblDressings dressing" ></p:commandButton>
                                                </p:column>

                                            </p:row>
                                            <p:row >
                                                <p:column  >
                                                    <p:outputLabel value="Oral Medications" ></p:outputLabel>
                                                </p:column>
                                                <p:column >
                                                    <h:dataTable id="tblMedicine" value="#{patientController.selectedEncounterItemsMedicines}" var="m" >
                                                        <h:column >
                                                            <p:outputLabel value="#{m.item.name}" ></p:outputLabel>
                                                            <p:outputLabel value="&nbsp;" ></p:outputLabel>
                                                            <p:outputLabel value="#{m.duration}" ></p:outputLabel>
                                                            <p:outputLabel value="&nbsp;" ></p:outputLabel>
                                                            <p:outputLabel value="#{m.durationUnit}" ></p:outputLabel>
                                                            <p:spacer height="1" width="25"></p:spacer>
                                                            <p:commandButton id="btnDelMedicine"
                                                                             title="Delete"
                                                                             icon="ui-icon-trash" 
                                                                             action="#{patientController.removeEncounterItem()}" 
                                                                             process="btnDelMedicine" update="@form" >
                                                                <f:setPropertyActionListener value="#{m}" target="#{patientController.selectedEncounterItem}" ></f:setPropertyActionListener>
                                                            </p:commandButton>
                                                        </h:column>
                                                    </h:dataTable>
                                                </p:column>
                                                <p:column >
                                                    <h:panelGrid columns="4" id="medicine">
                                                        <p:selectOneMenu  value="#{patientController.medicine}" >
                                                            <f:selectItem itemLabel="Select Medicine" ></f:selectItem>
                                                            <f:selectItems value="#{itemController.medicines}" ></f:selectItems>
                                                            <p:ajax process="@this" ></p:ajax>
                                                        </p:selectOneMenu>
                                                        <p:inputText value="#{patientController.duration}"  style="width: 50px;"  placeholder="Duration"  ></p:inputText>
                                                        <p:selectOneMenu value="#{patientController.durationUnit}" >
                                                            <f:selectItem itemLabel="Duration Unit" ></f:selectItem>
                                                            <f:selectItems value="#{enumController.durationDaysOrWeeks}" ></f:selectItems>
                                                        </p:selectOneMenu>
                                                        <p:commandButton id="addMedicine" value="Add" action="#{patientController.addMedicine()}" 
                                                                         process="@this medicine" update="tblMedicine medicine" ></p:commandButton>
                                                    </h:panelGrid>
                                                </p:column>

                                            </p:row>

                                            <p:row >
                                                <p:column >
                                                    <p:outputLabel value="Debridement" ></p:outputLabel>
                                                    <p:selectBooleanCheckbox value="#{patientController.selectedEncounter.debridement}"></p:selectBooleanCheckbox>
                                                </p:column>
                                                <p:column colspan="2">
                                                    <p:inputTextarea value="#{patientController.selectedEncounter.debridementComments}" >
                                                    </p:inputTextarea>
                                                </p:column>
                                            </p:row>


                                            <p:row >
                                                <p:column >
                                                    <p:outputLabel value="Investigations" ></p:outputLabel>
                                                </p:column>
                                                <p:column  >
                                                    <h:dataTable id="tblIx" value="#{patientController.selectedEncounterItemsInvestigations}" var="i" >
                                                        <h:column >
                                                            <p:outputLabel value="#{i.item.name}" ></p:outputLabel>
                                                            <p:spacer height="1" width="1" ></p:spacer>
                                                            <p:outputLabel value="#{i.dose}" ></p:outputLabel>
                                                            <p:spacer height="1" width="1" ></p:spacer>
                                                            <p:outputLabel value="#{i.item.resultUnit}" ></p:outputLabel>
                                                            <p:spacer height="1" width="25"></p:spacer>
                                                            <p:commandButton id="btnDelIx"
                                                                             title="Delete"
                                                                             icon="ui-icon-trash" 
                                                                             action="#{patientController.removeEncounterItem()}" 
                                                                             process="btnDelIx" update="@form" >
                                                                <f:setPropertyActionListener value="#{i}" target="#{patientController.selectedEncounterItem}" ></f:setPropertyActionListener>
                                                            </p:commandButton>
                                                        </h:column>
                                                    </h:dataTable>
                                                </p:column>
                                                <p:column >
                                                    <h:panelGrid columns="3" >
                                                        <p:selectOneMenu id="ix" value="#{patientController.investigation}" >
                                                            <f:selectItem itemLabel="Select Investigation" ></f:selectItem>
                                                            <f:selectItems value="#{itemController.investigations}" ></f:selectItems>
                                                            <p:ajax process="@this" ></p:ajax>
                                                        </p:selectOneMenu>
                                                        <p:inputText id="ixResult" value="#{patientController.dose}" placeholder="Enter Result"  style="width: 50px;" ></p:inputText>
                                                        <p:commandButton id="addIx" value="Add" action="#{patientController.addInvestigation()}" 
                                                                         process="@this ix ixResult" update="tblIx ix ixResult" ></p:commandButton>
                                                    </h:panelGrid>
                                                </p:column>
                                            </p:row>
                                            <p:row >
                                                <p:column >
                                                    <p:outputLabel value="Notes" ></p:outputLabel>
                                                </p:column>
                                                <p:column colspan="2">
                                                    <p:inputTextarea value="#{patientController.selectedEncounter.notes}" >
                                                    </p:inputTextarea>
                                                </p:column>
                                            </p:row>

                                            <p:row >
                                                <p:column >
                                                    <p:outputLabel value="Cost per visit" ></p:outputLabel>
                                                </p:column>
                                                <p:column colspan="2">
                                                    <p:inputText value="#{patientController.selectedEncounter.costPerVisit}" >
                                                        <f:convertNumber pattern="#,##0.00" ></f:convertNumber>
                                                        <p:ajax update="@this" process="@this" ></p:ajax>
                                                    </p:inputText>
                                                </p:column>
                                            </p:row>

                                        </p:panelGrid>



                                    </h:panelGrid>


                                </h:form>
                            </h:panelGroup> 





                        </h:panelGrid>

                    </p:panel>


                    <p:panel  header="Images">

                        <h:form enctype="multipart/form-data">
                            <p:commandButton type="button" onclick="PF('switcher').previous();"
                                             icon="ui-icon-circle-triangle-w" id="prev"/>
                            <p:commandButton type="button" onclick="PF('switcher').next();"
                                             icon="ui-icon-circle-triangle-e" id="next"/>
                            <p:commandButton value="Add" type="button" onclick="PF('dlg2').show();" />


                            <p:imageSwitch  widgetVar="switcher" effect="fade" slideshowAuto="true" styleClass="sideImageResponsive">
                                <ui:repeat value="#{patientController.selectedEncounterImages}"
                                           var="img"  >
                                    <table >
                                        <tr>
                                            <td>
                                                <p:outputLabel value="#{img.wound.name}"></p:outputLabel> 
                                                <p:spacer width="5"></p:spacer>
                                                <p:outputLabel value="#{img.encounter.encounterDate}">
                                                    <f:convertDateTime pattern="dd MMMM yyyy hh:mm" ></f:convertDateTime>
                                                </p:outputLabel> 
                                                <p:commandButton value="Delete" action="#{patientController.deletePhoto()}" ajax="false">
                                                    <f:setPropertyActionListener target="#{patientController.selectedResource}" value="#{img}" ></f:setPropertyActionListener>
                                                </p:commandButton>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p:graphicImage   
                                                    id="photos" cache="false" styleClass="sideImageResponsive"
                                                    rendered="#{img.baImage ne null}"    
                                                    value="#{imageController.encounterPhoto }"  >
                                                </p:graphicImage>
                                            </td>
                                        </tr>
                                    </table>


                                </ui:repeat>

                            </p:imageSwitch>


                        </h:form>


                        <p:dialog header="Add New Image to Disease" widgetVar="dlg2" height="100">
                            <h:form enctype="multipart/form-data">
                                <p:fileUpload value="#{patientController.file}" mode="simple"/>
                                <p:growl id="messages" showDetail="true" autoUpdate="true" />
                                <h:commandButton id="btnSave" value="Save" action="#{patientController.savePhoto()}"/>
                            </h:form>
                        </p:dialog>  


                    </p:panel>

                </p:panelGrid>




            </ui:define>

        </ui:composition>

    </body>
</html>
