<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ez="http://java.sun.com/jsf/composite/ezcomp">

    <body>

        <ui:composition template="/template.xhtml">

            <ui:define name="title">
                Patient Photos
            </ui:define>

            <ui:define name="body">
                <h:form>
                    <p:panel  style="margin: auto;width: 95%;" >
                        <f:facet name="header">
                            <p:outputLabel value="Patient Photos" ></p:outputLabel>
                        </f:facet>

                        <p:panelGrid columns="1" styleClass="alignTop" style="width: 100%;" >
                            <p:commandButton value="Back to Patient" ajax="false" action="/patient/patient" ></p:commandButton>
                            <h:panelGroup >
                            <p:outputLabel  id="nameOfPatient" style="width: 300px;" value="#{patientController.selected.nameOfPatient}, " title="NameOfPatient" />
                            <p:outputLabel id="clinicNumber" 
                                           value=" #{patientController.selected.referenceNumber}" title="ClinicNumber" />
                            </h:panelGroup>
                            <h:panelGroup layout="block" style="width: 80%" >
                                <table>
                                    <tr>
                                        <td>
                                            <p:commandButton type="button" onclick="PF('switcher').previous();"
                                                             icon="ui-icon-circle-triangle-w" id="prev"/>
                                            <p:commandButton type="button" onclick="PF('switcher').next();"
                                                             icon="ui-icon-circle-triangle-e" id="next"/>
                                        </td>
                                        <td>
                                            
                                        </td>
                                        <td>
                                            
                                        </td>
                                    </tr>
                                </table>
                                <p:imageSwitch  style="width: 95vw;" widgetVar="switcher" effect="fade" slideshowAuto="false">
                                    
                                    <ui:repeat value="#{patientController.selectedWoundImages}"
                                               var="img"  >
                                        <table >
                                            <tr>
                                                <td>
                                                    <p:outputLabel value="#{img.wound.name}"></p:outputLabel> 
                                                    <p:spacer width="5"></p:spacer>
                                                    <p:outputLabel value="#{img.encounter.encounterDateTime}">
                                                        <f:convertDateTime pattern="dd MMMM yyyy hh:mm" ></f:convertDateTime>
                                                    </p:outputLabel> 
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p:graphicImage   
                                                        id="photos" cache="false" style="width: 90vw;" 
                                                        rendered="#{img.baImage ne null}"    
                                                        value="#{imageController.woundPhoto }"  >
                                                    </p:graphicImage>
                                                </td>
                                            </tr>
                                        </table>
                                    </ui:repeat>
                                </p:imageSwitch>
                            </h:panelGroup>
                        </p:panelGrid>









                    </p:panel>
                </h:form>



            </ui:define>

        </ui:composition>

    </body>
</html>
