<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ez="http://java.sun.com/jsf/composite/ezcomp">

    <body>

        <ui:composition template="/template.xhtml">

            <ui:define name="title">
                Patient
            </ui:define>

            <ui:define name="body">
                <h:form>
                    <p:panel  style="margin: auto;width: 95%;" >
                        <f:facet name="header">
                            <p:outputLabel value="Patient Details" ></p:outputLabel>
                        </f:facet>
                        <h:panelGrid columns="7" >
                            <p:commandButton ajax="false" action="#{patientController.savePatient()}" value="Save" style="float: right;"></p:commandButton>
                            <p:spacer width="15"></p:spacer>
                            <p:commandButton ajax="false" action="#{patientController.saveAndNewWound()}" value="Add New Wound" style="float: right;"></p:commandButton>
                            <p:commandButton ajax="false" action="#{patientController.saveAndNewVisit()}" value="Add New Visit" style="float: right;"></p:commandButton>
                            <p:spacer width="15"></p:spacer>
                            <p:commandButton ajax="false" rendered="false" action="#{patientController.toSearchPatient()}" value="Search Patients" style="float: right;"></p:commandButton>
                        </h:panelGrid>
                        <p:panelGrid columns="3" styleClass="alignTop" style="width: 650px;" >
                            <h:panelGroup rendered="#{patientController.selected ne null}" >
                                <p:panelGrid columns="2" >
                                    <p:outputLabel value="Date of Registration:" for="dateOfRegistration" />
                                    <p:calendar id="dateOfRegistration"  pattern="dd MM yyyy"  value="#{patientController.selected.dateOfRegistration}" title="DateOfRegistration" >
                                    </p:calendar>

                                    <p:outputLabel value="Clinic Number:" for="clinicNumber" />
                                    <p:inputText id="clinicNumber" placeholder="[Generate a new number]"
                                                 value="#{patientController.selected.referenceNumber}" title="ClinicNumber" />

                                    <p:outputLabel value="Name of Patient:" for="nameOfPatient" />
                                    <p:inputText required="true" id="nameOfPatient" style="width: 300px;" value="#{patientController.selected.nameOfPatient}" title="NameOfPatient" />

                                    <p:outputLabel value="Gender:" for="gender" />
                                    <p:selectOneButton id="gender" value="#{patientController.selected.gender}"  label="Gender" required="true">
                                        <f:selectItems value="#{enumController.genders}" ></f:selectItems>
                                    </p:selectOneButton>
                                    <p:outputLabel value="Date of Birth:" for="dateOfBirth" />
                                    <h:panelGroup >
                                        <p:calendar yearRange="c-100:c" 
                                                    navigator="true" id="dateOfBirth" pattern="dd MM yyyy" value="#{patientController.selected.dateOfBirth}" title="DateOfBirth" required="true" >
                                            <p:ajax process="dateOfBirth" update="age" event="dateSelect"
                                                    listener="#{patientController.patientDobChanged}" ></p:ajax>
                                        </p:calendar>
                                        <p:spacer height="1" width="20" ></p:spacer>
                                        <p:outputLabel id="age" value="#{patientController.selected.age}"/>
                                    </h:panelGroup>

                                    <p:outputLabel value="Address:" for="address" />
                                    <p:inputTextarea rows="4" cols="30" id="address" value="#{patientController.selected.address}" title="Address" />


                                    <p:outputLabel value="Contact No.:" for="telephoneNoMobile" />
                                    <p:inputText id="telephoneNoMobile" value="#{patientController.selected.contactNumber }" title="TelephoneNoMobile" />


                                </p:panelGrid>

                            </h:panelGroup>
                            <h:panelGroup >

                                <h:panelGrid columns="1" style="min-width: 200px;" >

                                    <h:panelGroup rendered="#{empty patientController.selectedWounds}" >
                                        <p:outputLabel value="No Wounds Added Yet" ></p:outputLabel>
                                    </h:panelGroup>

                                    <h:panelGroup rendered="#{not empty patientController.selectedWounds}" >
                                        <p:tabView value="#{patientController.selectedWounds}" var="wo"   >
                                            <p:tab  title="#{wo.name}">
                                                <p:commandLink ajax="false" 
                                                               action="#{patientController.toViewWound()}" 
                                                               value="Click to View Details or Edit" >
                                                    <f:setPropertyActionListener target="#{patientController.selectedWound}" value="#{wo}" ></f:setPropertyActionListener>
                                                </p:commandLink>

                                                <ez:woundData wound="#{wo}"/>

                                            </p:tab>
                                        </p:tabView>






                                    </h:panelGroup>


                                    <p:dataTable value="#{patientController.selectedEncounters}" var="e" emptyMessage="No Visits"  >
                                        <p:column headerText="List of Visits" >
                                            <p:commandLink ajax="false" action="#{patientController.toViewEncounter()}" >
                                                <p:outputLabel value="#{e.encounterDateTime}"  >
                                                    <f:convertDateTime pattern="dd MMMM yyyy hh:mm" ></f:convertDateTime>
                                                </p:outputLabel>
                                                <f:setPropertyActionListener target="#{patientController.selectedEncounter}" value="#{e}" ></f:setPropertyActionListener>
                                            </p:commandLink>
                                        </p:column>
                                    </p:dataTable>
                                </h:panelGrid>
                            </h:panelGroup>
                            <h:panelGroup >
                                <p:commandButton value="View All Photos" action="/patient/patient_photos" ajax="false" ></p:commandButton>
                                <table >
                                    <tr>
                                        <td>
                                            <p:outputLabel value="First Photo">
                                            </p:outputLabel> 
                                        </td>
                                        <td>
                                            <p:outputLabel value="Last Photo"></p:outputLabel> 
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p:graphicImage   
                                                id="photosFirst" cache="false" styleClass="sideImageResponsive" 
                                                rendered="#{imageController.firstWoundPhoto ne null}"    
                                                value="#{imageController.firstWoundPhoto}"  >
                                            </p:graphicImage>
                                        </td>
                                        <td>
                                            <p:graphicImage   
                                                id="photosLast" cache="false" styleClass="sideImageResponsive" 
                                                rendered="#{imageController.lastWoundPhoto ne null}"    
                                                value="#{imageController.lastWoundPhoto}"  >
                                            </p:graphicImage>
                                        </td>
                                    </tr>
                                </table>
                            </h:panelGroup>
                        </p:panelGrid>
                    </p:panel>
                </h:form>



            </ui:define>

        </ui:composition>

    </body>
</html>
