<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <body>

        <ui:composition template="/template.xhtml">

            <ui:define name="title">
                Search Patient
            </ui:define>

            <ui:define name="body">

                <h:form > 

                    <p:panel header="Search Patient">
                        <h:panelGrid columns="4" >
                            <p:outputLabel value="Type some letters of the Name, Address, Phone and click search button" ></p:outputLabel>
                            <p:inputText id="txtSearch" value="#{patientController.searchText}" ></p:inputText>
                            <p:commandButton id="btnSearch" value="Search" process="txtSearch @this" update="tbl @this" action="#{patientController.searchPatients}"  ></p:commandButton>
                            <p:commandButton id="btnListAll" value="List All" process="@this" update="tbl" action="#{patientController.listAllPatients()}"  ></p:commandButton>

                        </h:panelGrid>
                        <p:dataTable id="tbl" value="#{patientController.items}" var="i" rowIndexVar="n" rowKey="#{i.id}"
                                     rows="10" styleClass="alignTop"
                                     paginator="#{patientController.items.size()>10}"
                                     paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                     rowsPerPageTemplate="10,20,50"
                                     >
                            <p:column headerText="No" width="30" >
                                <p:outputLabel value="#{n + 1}" ></p:outputLabel>
                            </p:column>
                            <p:column headerText="Clinic No" width="70" sortBy="#{i.referenceNumber}" filterBy="#{i.referenceNumber}" >
                                <p:outputLabel value="#{i.referenceNumber}" ></p:outputLabel>
                            </p:column>
                            <p:column headerText="Name"  sortBy="#{i.nameOfPatient}" filterBy="#{i.nameOfPatient}" filterMatchMode="contains">
                                <p:outputLabel value="#{i.nameOfPatient}" ></p:outputLabel>
                            </p:column>
                            <p:column headerText="Gender" width="60"  sortBy="#{i.gender}" filterBy="#{i.gender}">
                                <p:outputLabel value="#{i.gender}" ></p:outputLabel>
                            </p:column>
                            <p:column headerText="Date of Birth" width="120"  sortBy="#{i.dateOfBirth}" >
                                <p:outputLabel value="#{i.dateOfBirth}" >
                                    <f:convertDateTime pattern="dd MMMM yyyy" ></f:convertDateTime>
                                </p:outputLabel>
                            </p:column>
                            <p:column headerText="Address"  sortBy="#{i.address}" filterBy="#{i.address}" filterMatchMode="contains">
                                <p:outputLabel value="#{i.address}" ></p:outputLabel>
                            </p:column>
                            <p:column headerText="Phone" width="120"   sortBy="#{i.contactNumber}" filterBy="#{i.contactNumber}">
                                <p:outputLabel value="#{i.contactNumber}" ></p:outputLabel>
                            </p:column>
                            <p:column headerText="Actions" width="70">
                                <p:commandButton ajax="false" value="View" action="#{patientController.toViewPatient}" >
                                    <f:setPropertyActionListener target="#{patientController.selected}" value="#{i}" ></f:setPropertyActionListener>
                                </p:commandButton>
                            </p:column>
                        </p:dataTable>
                    </p:panel>

                </h:form>

            </ui:define>

        </ui:composition>

    </body>
</html>
