<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <body>

        <ui:composition template="/template.xhtml">

            <ui:define name="title">
                Wound
            </ui:define>

            <ui:define name="body">

                <p:panelGrid columns="2" styleClass="alignTop" style="width: 95vw;margin: auto;">

                    <p:panel header="Disease Summery"  >
                        <f:facet name="header" >
                            <p:outputLabel value="Disease Summery" ></p:outputLabel>
                        </f:facet>

                        <h:panelGrid columns="2" styleClass="alignTop" >
                            <h:panelGroup >
                                <h:form >
                                    <h:panelGrid columns="1" styleClass="alignTop">
                                        <h:panelGrid columns="3" >
                                            <p:commandButton value="Save Disease Summery" action="#{patientController.saveWound}" ajax="false" style="float: right;"></p:commandButton>
                                            <p:commandButton value="Back to Patient" action="/patient/patient" ajax="false" style="float: right;"></p:commandButton>
                                            <p:commandButton value="Back to Search" action="/patient/search" ajax="false" style="float: right;"></p:commandButton>
                                        </h:panelGrid>

                                        <p:panelGrid columns="2" >
                                            <p:outputLabel value="Laterality" ></p:outputLabel>
                                            <p:selectOneButton id="gender" value="#{patientController.selectedWound.laterality}"  label="Gender" required="true">
                                                <f:selectItems value="#{enumController.lateralities}" ></f:selectItems>
                                            </p:selectOneButton>
                                            <p:outputLabel value="Onset" ></p:outputLabel>
                                            <p:selectOneButton id="onset" value="#{patientController.selectedWound.onset}"  label="Gender" required="true">
                                                <f:selectItems value="#{enumController.onsets}" ></f:selectItems>
                                            </p:selectOneButton>
                                            <p:outputLabel value="Duration" ></p:outputLabel>
                                            <h:panelGroup >
                                                <p:inputText value="#{patientController.selectedWound.duration}" style="width: 60px;" ></p:inputText>
                                                <p:selectOneMenu value="#{patientController.selectedWound.durationUnit}" >
                                                    <f:selectItems value="#{enumController.durationUnits}" ></f:selectItems>
                                                </p:selectOneMenu>
                                            </h:panelGroup>
                                            <p:outputLabel value="Ulcer Type" ></p:outputLabel>
                                            <p:selectOneButton id="ulcer" value="#{patientController.selectedWound.ulcerType}"  label="Gender" required="true">
                                                <f:selectItems value="#{enumController.ulcerTypes}" ></f:selectItems>
                                                <p:ajax process="@this" update="venousDetails dmDetails ischaemic iscDetails" ></p:ajax>
                                            </p:selectOneButton>
                                            <p:outputLabel value="Other Ulcer Type" ></p:outputLabel>
                                            <p:inputText value="#{patientController.selectedWound.otherUlcerType}" ></p:inputText>
                                        </p:panelGrid>


                                        <h:panelGrid columns="4" >
                                            <h:panelGroup id="venousDetails"  >
                                                <p:panelGrid columns="3" rendered="#{patientController.selectedWound.displayVenous}" >
                                                    <h:panelGroup >
                                                        <h:outputText value="SFL " />
                                                        <p:selectBooleanCheckbox value="#{patientController.selectedWound.sfl}" title="SFL" ></p:selectBooleanCheckbox>
                                                    </h:panelGroup> 
                                                    <h:panelGroup >
                                                        <h:outputText value="EVLT " />
                                                        <p:selectBooleanCheckbox value="#{patientController.selectedWound.evlt }" title="EVLT" ></p:selectBooleanCheckbox>
                                                    </h:panelGroup>
                                                    <h:panelGroup >
                                                        <h:outputText value="SPD " />
                                                        <p:selectBooleanCheckbox value="#{patientController.selectedWound.spd}" title="SPD" ></p:selectBooleanCheckbox>
                                                    </h:panelGroup>
                                                </p:panelGrid>
                                            </h:panelGroup>

                                            <h:panelGroup id="ischaemic" >
                                                <h:panelGroup rendered="#{patientController.selectedWound.displayIschaemic}" >
                                                    <p:panelGrid style="width: 100%;" >
                                                        <f:facet name="header">
                                                            <p:row>
                                                                <p:column colspan="3">Pulse Status</p:column>
                                                            </p:row>
                                                            <p:row>
                                                                <p:column >
                                                                    <p:outputLabel value="Pulse" ></p:outputLabel>
                                                                </p:column>
                                                                <p:column >
                                                                    <p:outputLabel value="Right" ></p:outputLabel>
                                                                </p:column>
                                                                <p:column >
                                                                    <p:outputLabel value="Left" ></p:outputLabel>
                                                                </p:column>
                                                            </p:row>
                                                        </f:facet>
                                                        <p:row>
                                                            <p:column >
                                                                <p:outputLabel value="Femoral" ></p:outputLabel>
                                                            </p:column>
                                                            <p:column >
                                                                <p:selectBooleanButton offLabel="No" onLabel="Yes" 
                                                                                       value="#{patientController.selectedWound.femoralPulseRight}"
                                                                                       onIcon="ui-icon-check" offIcon="ui-icon-close"></p:selectBooleanButton>
                                                            </p:column>
                                                            <p:column >
                                                                <p:selectBooleanButton offLabel="No" onLabel="Yes" 
                                                                                       value="#{patientController.selectedWound.femoralPulseLeft}"
                                                                                       onIcon="ui-icon-check" offIcon="ui-icon-close"></p:selectBooleanButton>
                                                            </p:column>
                                                        </p:row>
                                                        <p:row>
                                                            <p:column >
                                                                <p:outputLabel value="Popliteal" ></p:outputLabel>
                                                            </p:column>
                                                            <p:column >
                                                                <p:selectBooleanButton offLabel="No" onLabel="Yes" 
                                                                                       value="#{patientController.selectedWound.poplitealPulseRight}"
                                                                                       onIcon="ui-icon-check" offIcon="ui-icon-close"></p:selectBooleanButton>
                                                            </p:column>
                                                            <p:column >
                                                                <p:selectBooleanButton offLabel="No" onLabel="Yes" 
                                                                                       value="#{patientController.selectedWound.poplitealPulseLeft}"
                                                                                       onIcon="ui-icon-check" offIcon="ui-icon-close"></p:selectBooleanButton>
                                                            </p:column>
                                                        </p:row>
                                                        <p:row>
                                                            <p:column >
                                                                <p:outputLabel value="PTA" ></p:outputLabel>
                                                            </p:column>
                                                            <p:column >
                                                                <p:selectBooleanButton offLabel="No" onLabel="Yes" 
                                                                                       value="#{patientController.selectedWound.ptaPulseRight}"
                                                                                       onIcon="ui-icon-check" offIcon="ui-icon-close"></p:selectBooleanButton>
                                                            </p:column>
                                                            <p:column >
                                                                <p:selectBooleanButton offLabel="No" onLabel="Yes" 
                                                                                       value="#{patientController.selectedWound.ptsPulseLeft}"
                                                                                       onIcon="ui-icon-check" offIcon="ui-icon-close"></p:selectBooleanButton>
                                                            </p:column>
                                                        </p:row>
                                                        <p:row>
                                                            <p:column >
                                                                <p:outputLabel value="DPA" ></p:outputLabel>
                                                            </p:column>
                                                            <p:column >
                                                                <p:selectBooleanButton value="#{patientController.selectedWound.dpaPulseRight}"
                                                                                       offLabel="No" onLabel="Yes" 
                                                                                       onIcon="ui-icon-check" offIcon="ui-icon-close"
                                                                                       ></p:selectBooleanButton>
                                                            </p:column>
                                                            <p:column >
                                                                <p:selectBooleanButton offLabel="No" onLabel="Yes" 
                                                                                       value="#{patientController.selectedWound.dpaPulseLeft}"
                                                                                       onIcon="ui-icon-check" offIcon="ui-icon-close"></p:selectBooleanButton>
                                                            </p:column>
                                                        </p:row>
                                                    </p:panelGrid>
                                                    <p:spacer></p:spacer>
                                                    <p:panelGrid>
                                                        <p:row >
                                                            <p:column colspan="4" >
                                                                <p:outputLabel value="PVD" ></p:outputLabel>
                                                                <p:spacer height="1" width="5" ></p:spacer>
                                                                <p:selectBooleanCheckbox value="#{patientController.selectedWound.pvd}" ></p:selectBooleanCheckbox>
                                                            </p:column>
                                                        </p:row>
                                                        <p:row>
                                                            <p:column colspan="4">
                                                                <p:outputLabel value="Intermittent claudication" ></p:outputLabel>
                                                                <p:spacer height="1" width="5" ></p:spacer>
                                                                <p:selectBooleanCheckbox value="#{patientController.selectedWound.intermittentClaudication}" ></p:selectBooleanCheckbox>
                                                            </p:column>
                                                        </p:row>
                                                        <p:row>
                                                            <p:column colspan="2">
                                                                <p:outputLabel value="Rest Pain" ></p:outputLabel>
                                                                <p:selectBooleanCheckbox value="#{patientController.selectedWound.restPain}" >
                                                                    <p:ajax process="@this" update="restPain" ></p:ajax>
                                                                </p:selectBooleanCheckbox>
                                                            </p:column>
                                                            <p:column colspan="2">
                                                                <h:panelGroup id="restPain" >
                                                                    <h:panelGroup rendered="#{patientController.selectedWound.restPain}" >
                                                                        <p:selectOneButton value="#{patientController.selectedWound.restPainLaterality}" >
                                                                            <f:selectItems value="#{enumController.lateralitiesWithoutOther}" ></f:selectItems>
                                                                        </p:selectOneButton>
                                                                    </h:panelGroup>
                                                                </h:panelGroup>
                                                            </p:column>
                                                        </p:row>
                                                        <p:row>
                                                            <p:column colspan="2" rowspan="2">
                                                                <p:outputLabel value="Neuropathy" ></p:outputLabel>
                                                                <p:selectBooleanCheckbox value="#{patientController.selectedWound.neuropathy}" >
                                                                    <!--<p:ajax process="@this" update="neuropathy1 neuropathy2 neuropathy3" ></p:ajax>-->
                                                                </p:selectBooleanCheckbox>
                                                            </p:column>
                                                            <p:column colspan="2" id="neuropathy1">
                                                                <p:outputLabel value="Monofilament Test" ></p:outputLabel>
                                                            </p:column>
                                                        </p:row>
                                                        <p:row >
                                                            <p:column id="neuropathy2" >
                                                                <p:outputLabel value="Right"  ></p:outputLabel>
                                                                <p:inputText   
                                                                    value="#{patientController.selectedWound.monofilamentRight}" style="width: 50px;" ></p:inputText>
                                                            </p:column>
                                                            <p:column  id="neuropathy3">
                                                                <p:outputLabel value="Left" ></p:outputLabel>
                                                                <p:inputText value="#{patientController.selectedWound.monofilamentLeft}" 
                                                                             style="width: 50px;" ></p:inputText>
                                                            </p:column>
                                                        </p:row>
                                                        <p:row >
                                                            <p:column rowspan="6" >
                                                                <p:outputLabel value="Foot Deformities" ></p:outputLabel>
                                                            </p:column>
                                                            <p:column >

                                                            </p:column>
                                                            <p:column >
                                                                <p:outputLabel value="Right" ></p:outputLabel>
                                                            </p:column>
                                                            <p:column >
                                                                <p:outputLabel value="Left" ></p:outputLabel>
                                                            </p:column>
                                                        </p:row>
                                                        <p:row >
                                                            <p:column >
                                                                <p:outputLabel value="High arch" ></p:outputLabel>
                                                            </p:column>
                                                            <p:column >
                                                                <p:selectBooleanButton value="#{patientController.selectedWound.highArchRight}"  
                                                                                       offLabel="No" onLabel="Yes" 
                                                                                       onIcon="ui-icon-check" offIcon="ui-icon-close"
                                                                                       ></p:selectBooleanButton>
                                                            </p:column>
                                                            <p:column >
                                                                <p:selectBooleanButton value="#{patientController.selectedWound.highArchLeft}"  
                                                                                       offLabel="No" onLabel="Yes" 
                                                                                       onIcon="ui-icon-check" offIcon="ui-icon-close"
                                                                                       ></p:selectBooleanButton>
                                                            </p:column>
                                                        </p:row>
                                                        <p:row >
                                                            <p:column >
                                                                <p:outputLabel value="Flat foot" ></p:outputLabel>
                                                            </p:column>
                                                            <p:column >
                                                                <p:selectBooleanButton value="#{patientController.selectedWound.flatFootRight}"  
                                                                                       offLabel="No" onLabel="Yes" 
                                                                                       onIcon="ui-icon-check" offIcon="ui-icon-close"
                                                                                       ></p:selectBooleanButton>
                                                            </p:column>
                                                            <p:column >
                                                                <p:selectBooleanButton value="#{patientController.selectedWound.flatFootLeft}"  
                                                                                       offLabel="No" onLabel="Yes" 
                                                                                       onIcon="ui-icon-check" offIcon="ui-icon-close"
                                                                                       ></p:selectBooleanButton>
                                                            </p:column>
                                                        </p:row>
                                                        <p:row >
                                                            <p:column >
                                                                <p:outputLabel value="Claw toes" ></p:outputLabel>
                                                            </p:column>
                                                            <p:column >
                                                                <p:selectBooleanButton value="#{patientController.selectedWound.clawToesRight}"  
                                                                                       offLabel="No" onLabel="Yes" 
                                                                                       onIcon="ui-icon-check" offIcon="ui-icon-close"
                                                                                       ></p:selectBooleanButton>
                                                            </p:column>
                                                            <p:column >
                                                                <p:selectBooleanButton value="#{patientController.selectedWound.clawToesLeft}"  
                                                                                       offLabel="No" onLabel="Yes" 
                                                                                       onIcon="ui-icon-check" offIcon="ui-icon-close"
                                                                                       ></p:selectBooleanButton>
                                                            </p:column>
                                                        </p:row>
                                                        <p:row >
                                                            <p:column >
                                                                <p:outputLabel value="Hallux valgus" ></p:outputLabel>
                                                            </p:column>
                                                            <p:column >
                                                                <p:selectBooleanButton value="#{patientController.selectedWound.halluxValgusRight}"  
                                                                                       offLabel="No" onLabel="Yes" 
                                                                                       onIcon="ui-icon-check" offIcon="ui-icon-close"
                                                                                       ></p:selectBooleanButton>
                                                            </p:column>
                                                            <p:column >
                                                                <p:selectBooleanButton value="#{patientController.selectedWound.halluxValgusLeft}"  
                                                                                       offLabel="No" onLabel="Yes" 
                                                                                       onIcon="ui-icon-check" offIcon="ui-icon-close"
                                                                                       ></p:selectBooleanButton>
                                                            </p:column>
                                                        </p:row>
                                                        <p:row >
                                                            <p:column >
                                                                <p:outputLabel value="Charcot’s foot" ></p:outputLabel>
                                                            </p:column>
                                                            <p:column >
                                                                <p:selectBooleanButton value="#{patientController.selectedWound.charcotsFootRight}"  
                                                                                       offLabel="No" onLabel="Yes" 
                                                                                       onIcon="ui-icon-check" offIcon="ui-icon-close"
                                                                                       ></p:selectBooleanButton>
                                                            </p:column>
                                                            <p:column >
                                                                <p:selectBooleanButton value="#{patientController.selectedWound.charcotsFootLeft}"  
                                                                                       offLabel="No" onLabel="Yes" 
                                                                                       onIcon="ui-icon-check" offIcon="ui-icon-close"
                                                                                       ></p:selectBooleanButton>
                                                            </p:column>
                                                        </p:row>
                                                    </p:panelGrid>

                                                </h:panelGroup>
                                            </h:panelGroup>

                                            <h:panelGrid columns="1" >

                                                <h:panelGroup id="dmDetails" styleClass="alignTop"  >
                                                    <p:panelGrid rendered="#{patientController.selectedWound.displayDm}" styleClass="alignTop" >
                                                        <f:facet name="header" >
                                                            <p:row >
                                                                <p:column colspan="3" >

                                                                    <h:outputText value="DM" />
                                                                    <p:spacer height="1" width="5" ></p:spacer>
                                                                    <p:selectBooleanCheckbox id="sobDm" value="#{patientController.selectedWound.dm}"
                                                                                             >
                                                                        <p:ajax process="@this" update="dmDetails"  ></p:ajax>
                                                                    </p:selectBooleanCheckbox>
                                                                </p:column>
                                                            </p:row>
                                                        </f:facet>
                                                        <p:row   rendered="#{patientController.selectedWound.dm}" >
                                                            <p:column >
                                                                <h:outputText value="Duration"  />
                                                            </p:column>
                                                            <p:column colspan="2" >
                                                                <h:panelGroup  >
                                                                    <p:inputText value="#{patientController.selectedWound.dmDuration}" style="width: 30px;" ></p:inputText>
                                                                    <p:selectOneMenu value="#{patientController.selectedWound.dmDurationUnit}" >
                                                                        <f:selectItems value="#{enumController.durationUnits}" ></f:selectItems>
                                                                    </p:selectOneMenu>
                                                                </h:panelGroup>
                                                            </p:column>
                                                        </p:row>
                                                        <p:row  rendered="#{patientController.selectedWound.dm}" >
                                                            <p:column >
                                                                <h:panelGroup  >
                                                                    <h:outputText value="Diet Control" />
                                                                    <p:selectBooleanCheckbox value="#{patientController.selectedWound.dietControl}" >
                                                                    </p:selectBooleanCheckbox>
                                                                </h:panelGroup>
                                                            </p:column>
                                                            <p:column >
                                                                <h:panelGroup  >
                                                                    <h:outputText value="OHA" />
                                                                    <p:selectBooleanCheckbox value="#{patientController.selectedWound.oha}">
                                                                    </p:selectBooleanCheckbox>
                                                                </h:panelGroup>
                                                            </p:column>
                                                            <p:column >
                                                                <h:panelGroup  >
                                                                    <h:outputText value="Insulin" />
                                                                    <p:selectBooleanCheckbox value="#{patientController.selectedWound.insulin}">
                                                                    </p:selectBooleanCheckbox>
                                                                </h:panelGroup>
                                                            </p:column>
                                                        </p:row>
                                                    </p:panelGrid>
                                                </h:panelGroup>
                                                <p:spacer></p:spacer>
                                                <h:panelGroup id="iscDetails" styleClass="alignTop"  >
                                                    <p:panelGrid rendered="#{patientController.selectedWound.displayIschaemic}" styleClass="alignTop" columns="2" >
                                                        <p:outputLabel value="Dyslipidaemia" ></p:outputLabel>
                                                        <p:selectBooleanButton value="#{patientController.selectedWound.dyslipidaemia}"  
                                                                               offLabel="No" onLabel="Yes" 
                                                                               onIcon="ui-icon-check" offIcon="ui-icon-close"
                                                                               ></p:selectBooleanButton>
                                                        <p:outputLabel value="Hypertension" ></p:outputLabel>
                                                        <p:selectBooleanButton value="#{patientController.selectedWound.hypertension}"  
                                                                               offLabel="No" onLabel="Yes" 
                                                                               onIcon="ui-icon-check" offIcon="ui-icon-close"
                                                                               ></p:selectBooleanButton>
                                                        <p:outputLabel value="Smoking" ></p:outputLabel>
                                                        <p:selectBooleanButton value="#{patientController.selectedWound.smoking}"  
                                                                               offLabel="No" onLabel="Yes" 
                                                                               onIcon="ui-icon-check" offIcon="ui-icon-close"
                                                                               ></p:selectBooleanButton>
                                                        <p:outputLabel value="Cardiac disease" ></p:outputLabel>
                                                        <p:selectBooleanButton value="#{patientController.selectedWound.cardiacDisease}"  
                                                                               offLabel="No" onLabel="Yes" 
                                                                               onIcon="ui-icon-check" offIcon="ui-icon-close"
                                                                               ></p:selectBooleanButton>
                                                        <p:outputLabel value="Cerebral Vascular accidents" ></p:outputLabel>
                                                        <p:selectBooleanButton value="#{patientController.selectedWound.cerebralVascularAccidents}"  
                                                                               offLabel="No" onLabel="Yes" 
                                                                               onIcon="ui-icon-check" offIcon="ui-icon-close"
                                                                               ></p:selectBooleanButton>
                                                    </p:panelGrid>
                                                </h:panelGroup>
                                                <p:spacer></p:spacer>
                                                <p:panelGrid  >
                                                    <p:row >
                                                        <p:column >
                                                            <p:outputLabel value="Wound Bx" ></p:outputLabel>
                                                            <p:spacer height="1" width="10" ></p:spacer>
                                                            <p:selectBooleanCheckbox value="#{patientController.selectedWound.woundBiopsy}" ></p:selectBooleanCheckbox>
                                                        </p:column>
                                                    </p:row>
                                                    <p:row >
                                                        <p:column >
                                                            <p:inputTextarea value="#{patientController.selectedWound.woundBiopsyDetails}" ></p:inputTextarea>
                                                        </p:column>
                                                    </p:row>
                                                </p:panelGrid>
                                            </h:panelGrid>
                                        </h:panelGrid>

                                    </h:panelGrid>


                                </h:form>
                            </h:panelGroup> 





                        </h:panelGrid>

                    </p:panel>


                    <p:panel  header="Images">

                        <h:form enctype="multipart/form-data">
                            <p:commandButton type="button" onclick="PF('switcher').previous();"
                                             icon="ui-icon-circle-triangle-w" id="prev"/>
                            <p:commandButton type="button" onclick="PF('switcher').next();"
                                             icon="ui-icon-circle-triangle-e" id="next"/>
                            <p:commandButton value="Add" type="button" onclick="PF('dlg2').show();" />

                            <p:imageSwitch  widgetVar="switcher" effect="fade" slideshowAuto="true" styleClass="sideImageResponsive">
                                <ui:repeat value="#{patientController.selectedWoundImages}"
                                           var="img"  >
                                    <p:commandLink action="#{patientController.toAddNewPatient()}" >
                                        <p:graphicImage   
                                            id="photos" cache="false" styleClass="sideImageResponsive"
                                            rendered="#{imageController.woundPhoto ne null}"    
                                            value="#{imageController.woundPhoto}"  >

                                        </p:graphicImage>
                                    </p:commandLink>
                                </ui:repeat>

                            </p:imageSwitch>


                        </h:form>


                        <p:dialog header="Add New Image to Disease" widgetVar="dlg2" height="100">
                            <h:form enctype="multipart/form-data">
                                <p:fileUpload value="#{patientController.file}" mode="simple"/>
                                <p:growl id="messages" showDetail="true" autoUpdate="true" />
                                <h:commandButton id="btnSave" value="Save" action="#{patientController.savePhoto()}"/>
                            </h:form>
                        </p:dialog>  


                    </p:panel>

                </p:panelGrid>


                #{patientController.selectedWound.id}

            </ui:define>

        </ui:composition>

    </body>
</html>
